.dashboard-container {
    margin: 20px;
    padding: 20px;
    background-color: #0000006c;
    border-radius: 10px;
    text-align: center;
  }
  
  .dashboard-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .wallet-status {
    margin-bottom: 20px;
  }
  
  .wallet-status p {
    font-size: 18px;
  }
  
  .token-info p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .create-pair-button {
    margin-top: 20px;
  }
  
  .create-pair-button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .create-pair-button button:hover {
    background-color: #0056b3;
  }
  
  .navigation-links {
    margin-top: 20px;
  }

  p{color:#fff;}

  .navigation-links a {
    font-size: 16px;
    color: #f4f4f4;
    text-decoration: none;
  }
  
  .navigation-links a:hover {
    text-decoration: underline;
  }
  
