html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('https://i.imgur.com/EeSiiMV.jpeg'); /* Background image */
    background-size: cover;
    background-attachment: fixed;
}

.titlefactory {font-size:30px;
    text-align: center;
    color: white;
    padding-right:250px;    
    padding-left:250px;
 
    }

.subtitlefactory {font-size:18px;
    margin-top:5px;
    font-weight: 300;
}

.token_address_message{   color: white;}
.token_address_message a{color:white;}
.factory-container {
    max-width: 600px;
    
    padding: 70px 70px 100px 70px;
    border: 1px solid #cccccc81;
    border-radius: 30px;
    margin-top:100px;
    background-color: #0000006c;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center */
    align-items: center; /* Horizontally center */
    height: 50%; /* Ensure the container takes the full height of the viewport */
    text-align: center;
    
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

@media only screen and (max-width: 600px) {
    .factory-container {
      margin: 20px 20px 20px 20px; /* Add margin for mobile devices */
      height:60%;
      
    
    }
    .center2-container{margin:0px;
   }

    .titlefactory {font-size:23px;
        text-align: center;
        color: white;
        padding-right:15px;
        padding-left:15px;
     
        }

        .createerc{font-size:18px;}

      

        .subtitlefactory {font-size:15px;
            margin-top:10px;
            margin-right:20px;
            margin-left:10px;
            font-weight: 300;
        }

      
        
  }



.token-form label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
}

.input {

    margin-bottom: 13px;
}

button.deploy-button {
    padding: 7px 20px;
    margin-top:20px;
    font-size: 16px;
    border-radius: 30px;
    /* Gradient background */
    background: linear-gradient(38deg, #ef10ffe1, /* purple */ #00CDFFF6); /* Replace #FF5733 with your desired color */
    border: 1px solid rgba(255, 255, 255, 0.519);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-style: normal;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
}


button.deploy-button:hover {
    background-color: #ffffff;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
}


.contract-address {
    margin-top: 20px;
    font-size: 16px;
    font-style: italic;
}

.center2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}


  
  h3 {
    text-align: center;
    color: white;
    margin-bottom:-60px;
    
    font-size: 16px;
    
  }

  
.start-button {
    padding: 7px 20px;
    margin-top:10px;
    font-size: 16px;
    border-radius: 30px;
    /* Gradient background */
    background: linear-gradient(38deg, #ef10ffe1, /* purple */ #00CDFFF6); /* Replace #FF5733 with your desired color */
    border: 1px solid rgba(255, 255, 255, 0.519);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif; /* Updated font-family */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.start-button:hover {
    background-color: #0056b3;
}
  
.custom-file-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    padding: 7px 25px;
    background-color: #00000027;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom:20px;
}

.custom-file-input input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.custom-file-input span {
    display: inline-block;
    pointer-events: none;
}

.connected-wallet {
    font-size: 14px;
    text-align: center;
    margin-top: -10px;
    margin-bottom:20px;
}

.error-message {
    font-size: 12px; /* Smaller font size */
    color: #ffffff; /* Typical error message color */
}

/* Styling the paragraph */
.token_address_message {
    margin-top:20px;
    font-size: 0.9rem; /* Adjust the size as needed */
    color: #ffffff; /* Example color */
}
