.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Futuristic font */
    
    color: #fff; /* Light text */
    background-image: url('https://i.imgur.com/58ekpDG.jpeg'); /* Background image */
    background-size: cover;
  }
  
  h1 {
    font-size: 56px; /* Larger font size for heading */
  }
  
  p {
    font-size: 18px; /* Larger font size for paragraph */
    margin: 10px 0; /* Adjust vertical margin */
  }
  
  .start-button {
    background-color: #bd00da; /* Green color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 18px; /* Larger font size for button */
    cursor: pointer;
    margin-top: 20px; /* Increase margin */
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  .start-button:hover {
    background-color: #45a049; /* Darker green color on hover */
  }
  
  @media (max-width: 768px) {
    .centered-content {
      padding: 20px; /* Add padding to the container */
      text-align: center;
    }
  }
  