

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;   
    text-align: center;
   
    color: #fff; /* Light text */
    
    background-size: cover;
    background-attachment: fixed;
  }

  .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  @media only screen and (max-width: 600px) {
    .centered-content {
      height: 80vh; /* Add margin-bottom of at least 200px for mobile devices */
    }
  }

  
.titlehome {
    font-size: 42px; /* Larger font size for heading */
margin-bottom:-20px;
margin-top:10px;
  }

  .subtitlehome {font-size:20px;
    margin-top:25px;
    font-weight: 300;
}
  
.texthome {font-size:16px;
  font-weight: 200;
}


.start-button2 {
    padding: 7px 20px;
    font-size: 16px;
  margin-top:-15px;
    border-radius: 30px;
    /* Gradient background */
    background: linear-gradient(38deg, #ef10ffe1, /* purple */ #ff6f00f6); /* Replace #FF5733 with your desired color */
    border: 1px solid rgba(255, 255, 255, 0.519);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
}


.start-button2:hover {
    background-color: #0056b3;
}
  
  @media (max-width: 768px) {
    .centered-content {
      padding: 20px; /* Add padding to the container */
      text-align: center;
    }
  }
  

  .logo2 {
    width: 120px; /* Adjust the width according to your preference */
    height: auto; /* Maintain aspect ratio */
    
  }


  
  /* Media query for screens with a maximum width of 600 pixels (typical for mobile devices) */
  @media only screen and (max-width: 600px) {
    .logo2 {
      width: 70px; /* Adjust the width for smaller screens */
    }
  }