.center2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 70px 70px 100px 70px;
}



.staking-container {
    max-width: 600px;
    padding: 70px 70px 100px 70px;
    border: 1px solid #cccccc81;
    border-radius: 30px;
    margin-top:60px;
    background-color: #0000006c;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center */
    align-items: center; /* Horizontally center */
    height: 50%; /* Ensure the container takes the full height of the viewport */
    text-align: center;
    
}

@media only screen and (max-width: 600px) {
    .staking-container {
      margin: 30px 0px 60px 20px; /* Add margin for mobile devices */
      height:60%;
    }
  }


  button.stake-button {
    padding: 7px 20px;
    margin-top:20px;
    font-size: 16px;
    border-radius: 30px;
    /* Gradient background */
    background: linear-gradient(38deg, #ef10ffe1, /* purple */ #ff6f00f6); /* Replace #FF5733 with your desired color */
    border: 1px solid rgba(255, 255, 255, 0.519);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-style: normal;
    font-weight: 400;
}


button.stake-button:hover {
    background-color: #ffffff;
}
