/* Footer.css */
.footer {
    padding: 20px;
    text-align: center;
   
}

.footer-content p {
    margin: 5px 0;
    color: #ffffff;
    font-size: 14px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.x-icon {
    margin-top:10px;
    width: 30px;  /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
  }
