/* Header.css */
.header {
  background-color: #00000000;
  padding: 11px 20px; /* Adjust padding as needed */
  color: white;
  display: flex;
  justify-content: space-between; /* Space between logo and button */
  align-items: center;
  width: 100%; /* Ensure header takes full width */
  max-width: 600px; /* Set a maximum width for the header */
  margin: 0 auto; /* Center the header horizontally */
  box-sizing: border-box; /* Include padding in width calculation */
}

.logo {
  width: 80px; /* Adjust the width according to your preference */
  height: auto; /* Maintain aspect ratio */
}

.Connect {
  border-radius: 30px; /* Rounded corners */
  padding: 7px 25px; /* Padding for the button */
  background: linear-gradient(38deg, #00CDFFF6, #fb00dec5); /* Gradient background */
  color: white; /* Text color */
  border: 1px solid rgba(255, 255, 255, 0.519); /* Border */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
  margin: 0 20px; /* Add horizontal margin for spacing */
}

.Connect:hover {
  background-color: #0056b3; /* Change to a darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.Launch {
  border-radius: 30px; /* Rounded corners */
  padding: 7px 25px; /* Padding for the button */
  background: linear-gradient(38deg, #00CDFFF6, #fb00dec5); /* Gradient background */
  color: white; /* Text color */
  border: 1px solid rgba(255, 255, 255, 0.519); /* Border */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.Launch:hover {
  background-color: #0056b3; /* Change to a darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

/* Media query for screens with a maximum width of 600 pixels (typical for mobile devices) */
@media only screen and (max-width: 600px) {
  .header {
    padding: 10px; /* Adjust padding for mobile */
    max-width: 100%; /* Ensure header takes full width on mobile */
  }

  .logo {
    width: 70px; /* Adjust the width for smaller screens */
  }

  .div-button {
    flex-grow: 0; /* Prevent the button div from growing */
    text-align: center; /* Center the button */
  }

  .Connect {
    width: auto; /* Set width to auto to prevent stretching */
    padding: 7px 10px; /* Adjust padding for a smaller button */
    margin: 0; /* Remove horizontal margin */
  }

  .div-logo, .div-burger {
    max-width: 33%; /* Each div takes 33% of the width */
  }

  
  /* Ensure each column occupies 33% of the screen width */
  .header-content > * {
      width: auto; /* Allow content to adjust based on its size */
      text-align: center; /* Center content within each column */
  }

  .burger-menu {
      text-align: center; /* Align burger menu to the right */
  }
}

.header-content {
  padding: 10px 0; /* Adjust padding for header content */
  max-width: 100%; /* Ensure content does not exceed viewport width */
  margin: 0 auto; /* Center the content horizontally */
  display: flex;
  justify-content: space-between; /* Space between logo and button */
  align-items: center;
  width: 100%; /* Ensure header content takes full width */
}

button {
  padding: 7px 15px;
  margin-top: 30px;
  font-size: 16px;
  border-radius: 60px;
  /* Gradient background */
  background: linear-gradient(38deg, #00CDFFF6, #fb00dec5); /* Replace #FF5733 with your desired color */
  border: 1px solid rgba(255, 255, 255, 0.519);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-style: normal;
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
}

button:hover {
  background-color: #0056b3;
}

.burger-menu {
  display: none; /* Hide burger menu on desktop */
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  display: flex; /* Horizontal menu on desktop */
  gap: 20px; /* Space between links */
}

.menu a {
  text-decoration: none;
  color: #ffffff; /* Adjust color as needed */
  font-weight: 500;
}

.connected-chain {
  color: white;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

.menu a:hover {
  color: #a333ff; /* Change to your desired hover color */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .burger-menu {
      display: block; /* Show burger menu on mobile */
      margin-top: 0px;
    

  }

  .menu {
      display: none; /* Hide horizontal menu on mobile */
      flex-direction: column; /* Stack links vertically */
      position: absolute;
      right: 0;
      top: 60px; /* Adjust based on header height */
      background-color: rgba(0, 0, 0, 0.436); /* Adjust color as needed */
      width: 100%;
      text-align: center;
      padding: 10px 0;
  }

  .menu.open {
      display: flex; /* Show menu when burger is clicked */
  }
}
