body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif; /* Updated font-family */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lexend Deca", sans-serif; /* Updated font-family */
}
